@media (max-width: 400px) { 
  .timer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .progress-container {
    width: 85vw;
    height: 85vw;
    max-width: 320px;
    max-height: 320px;
  }

  .progress-circle text {
    font-size: 50px;
    font-weight: bold;
  }

  .inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  input {
    width: 55px;
    height: 40px;
    font-size: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85%;
  }

  button {
    width: 100%;
    font-size: 20px;
    padding: 12px;
  }
}