@media (max-width: 600px) { 
  .timer {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progress-container {
    width: 80vw;
    height: 80vw;
    max-width: 250px;
    max-height: 250px;
  }

  .progress-circle text {
    font-size: 20px;
  }

  .inputs {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  input {
    width: 45px;
    height: 30px;
    font-size: 18px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  button {
    width: 100%;
  }
}